<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ergebnis ISBN13-Check</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../isbn13-style.css">
</head>
<body>

    <h1 th:text="#{titel.ergseite}"></h1>

    <p th:text="${ergebnis}"></p>
    <br><br>
    
    <a href="/app/formular" class="button" th:text="#{link.weitere}"></a>
    <br><br>

</body>
